@import '../../main.module';

.formWrapper{
  display: block;
  background-color: rgba(0,0,0,.55);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: auto;
  text-align: center;
  .form{
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: lighten($paletteColorLightCyan, 15%);
    border-radius: 10px;
    text-align: center;
    >h2{
      color: $paletteColorBlue;
    }
    form{
      text-align: left;
      padding: 15px 10px;
    }
    .formField{
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 20px;
      >label{
        width: 35%;
        padding-right: 15px;
        text-align: right;
        font-weight: 700;
      }
      >input{
        height: 20px;
        width: 40%;
        padding: 5px;
        border-radius: 5px;
      }
      .error{
        position: absolute;
        display: block;
        bottom: 5px;
        left: 40%;
        width: 60%;
        font-size: 0.7rem;
        color: $paletteColorOrange;
      }
    }
    .close{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2rem;
      font-weight: 700;
      opacity: 0.7;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
    }
    .buttonWrapper{
      text-align: center;
      button{
        width: 50%;
        padding: 10px 15px;
        font-size: 1.2rem;
        font-weight: 700;
        background-color: $paletteColorYellow;
        border: none;
        border-radius: 5px;
        &:hover{
          background-color: darken($paletteColorYellow, 5%);
        }
      }
    }
  }
}