@import '../../main.module';

.userItem{
  display: flex;
  width: 45%;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 7px 16.2px 3.8px rgba(0,1,5,.1);
  margin-bottom: 20px;
  @media (max-width: 767px) {
    width: 80%;
    min-width: 250px;
  }
  .userInfo{
    >p{
      padding: 3px 0;
      color: lighten($paletteColorGrey, 15%);
      font-size: 0.7rem;
    }
    .userName{
      font-size: 1.5rem;
      font-weight: 700;
      color: $paletteColorGrey;
      @media (max-width: 1023px) {
        font-size: 1.2rem;
      }
    }
    .userEmail{
      &:before{
        content: '@';
        font-weight: 700;
        color: $paletteColorOrange;
        margin-right: 5px;
      }
    }
  }
  .buttons{
    flex-shrink: 0;
    >span{
      opacity: 0.7;
      font-size: 1.2em;
      &:hover{
        opacity: 1;
      }
    }
    .buttonEdit{
      color: $paletteColorBlue;
    }
  }
}