@import '../../main.module';

.users {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
}