@import '../../main.module';

.container{
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  .searchWrapper{
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: $paletteColorBlue;
    @media (max-width: 500px) {
      width: 85%;
      justify-content: flex-start;
    }
    >input{
      height: 40px;
      width: 30%;
      padding: 5px 10px;
      margin-left: 10px;
      border-radius: 5px;
      border: 2px solid $paletteColorBlue;
      @media (max-width: 1023px) {
        width: 60%;
      }
    }
  }
  .buttonAdd{
    position: fixed;
    display: flex;
    align-items: center;
    top: 10px;
    right: 1%;
    border: none;
    padding: 10px;
    border-radius: 7px;
    background-color: $paletteColorOrange;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 5;
    @media (max-width: 1023px) {
      border-radius: 50%;
      padding: 15px;
      font-size: 1.5rem;
    }
    @media (max-width: 500px) {
      position: absolute;
      right: 3%;
      top: 0;
      border-radius: 50%;
    }
    &:hover{
      background-color: darken($paletteColorOrange, 5%);
    }
    >span{
      margin-right: 5px;
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}