$paletteColorYellow: #FFD700;
$paletteColorBlue: #1D2F6F;
$paletteColorLightBlue: #A8D5E2;
$paletteColorOrange: #FF785A;
$paletteColorLightCyan: #E0FBFC;
$paletteColorGrey: #353535;

html {
  font-size: 18px;
  font-family: Arial, sans-serif;
  * {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: $paletteColorYellow;
    color: $paletteColorGrey;
  }
}